.hr {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 0;
    border: none;
    border-top: 5px solid black;
    opacity: 1;
}

.btn {
    margin-top: 50px;
    width: 100%;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    border-radius: 50px;
    padding: 10px;
}